<ul>
    <% databaseResults.forEach( book => { %>
        <li>
            <img src="<%= book.image_url %>" alt="">
            <h5><%= book.title %></h5>
            <p><%= book.author %></p>
            <p><%= book.isbn %></p>
            <p><%= book.description %></p>
        </li>
        <form action="/"  method="get">
            <button id="Update Details">Update Details</button>
        </form>
        <form action="/books/<%= book.id %>?_method=delete" method="post">
            <button>Delete Book</button>
        </form>
    <% }) %>
    </ul>

