<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book-app</title>
    <link href="/styles/base.css" rel="stylesheet"/>
</head>
<body>
    <h3><%= databaseResults.length %> Saved Books</h3>
    <ul>
        <% databaseResults.forEach( book => { %>
            <li>
                <img src="<%= book.image_url %>" alt="">
                <h5><%= book.title %></h5>
                <p><%= book.author %></p>
                <form action="/book/<%= book.id %>"  method="get">
                    <button>View Details</button>
                </form>
            </li>
        <% }) %>
        </ul>
    
</body>
</html>